* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.grid {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.container {
  width: 500px;
  background-color: #e8effa;
}
form {
  width: 100%;
  padding: 30px 20px;
}
form input,
button {
  width: 100%;
  padding: 6px 5px;
  border-radius: 3px;
  border: 1px solid #a3a5a8;
  margin: 13px 0;
}
form label {
  font-weight: 700;
}
select {
  width: 100%;
  padding: 6px 5px;
  border-radius: 3px;
  border: 1px solid #a3a5a8;
  margin: 13px 0;
}
.header {
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  padding: 10px 0;
}
.header p {
  padding-bottom: 10px;
}
.login-header {
  background-color: #33b08d;
}
.signup-header {
  background-color: #d90f19;
}
.signup-btn {
  border-radius: 3px;
  background-color: #bd0b11;
  border: none;
  margin: 20px 0;
  color: #fff;
  padding: 8px 0;
}
.login-btn {
  border-radius: 3px;
  background-color: #168a31;
  border: none;
  margin: 20px 0;
  color: #fff;
  padding: 8px 0;
}
h4 {
  text-align: right;
  padding: 20px 10px 0 0;
}
h4 a {
  text-decoration: none;
  color: #34baeb;
}
